
<title>Water Vapour Games </title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center><h1>Water Vapour Games </h1></center>

<h2> About us </h2>
<p>
Water Vapour is your 1 stop shop for all your python games.
Along with python games, we also have some online games that you are able to play. All of our games suck.
</p>
<h2> Our Games: </h2>
<ul>
  <li><a href="https://Water.fishmonger.repl.co/missionaries and cannibals"> Missionaries and Cannibals </a></li>
  <li><a href="https://water.fishmonger.repl.co/trivia"> Trivia </a></li>
  <li><a href="https://Water.fishmonger.repl.co/snake"> Snake </a></li>
  <li><a href="https://Water.fishmonger.repl.co/tetris"> Tetris </a></li>
  <li><a href="https://Water.fishmonger.repl.co/soccer penalties"> Soccer penalties </a></li>
  <li><a href="https://Water.fishmonger.repl.co/virus"> virus </a></li>
  <li><a href="https://Water.fishmonger.repl.co/adventure"> Chose your own adventure </a></li>
  <li><a href="https://Water.fishmonger.repl.co/fox and hounds"> Fox and hounds </a></li>
  <li><a href="https://Water.fishmonger.repl.co/mars lander"> Mars lander </a></li>
  <li><a href="https://Water.fishmonger.repl.co/maze"> maze </a></li>
  <li><a href="https://Water.fishmonger.repl.co/solitare"> Solitaire </a></li>
  <li><a href="https://Water.fishmonger.repl.co/maze room"> Maze Room </a></li>  
</ul>

<!this code allows me to take a varrible from the python script and put it into html >
<form class="grid" action="/result" method="POST">
  {% if name %}
    <center>
      <h3 style="color: red ;" class="let_space">The game {{name}} does not exist. Please search again. </h3>
    </center>
  {% endif %}         
  <label for="name">Search games here: </label>
  <input type="text" id="name" name="name">

  <input class="file_submit" type="Submit">

</form>
<img src ='https://media.discordapp.net/attachments/983117876280037421/983117955615313940/Annotation_2019-12-23_163417.jpg'>
<!this code allows me to take a varrible from the python script and put it into html >
{% if ip_addr %}
  <h1 style="color: red ;" class="let_space">Your ip is: {{ip_addr}}  </h1>
{% endif %} 
<h3 style="color: black ;" class="let_space">Get IP Grabbed you scrub   </h3>
<h3>Your ip is leaked on twitter. Check it out <a href="https://twitter.com/CoolBot999"> Here </a> </h3>
<br>
<script id="cid0020000342253763867" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 250px;height: 350px;">{"handle":"coolbotisthegoat","arch":"js","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","p":"10","q":"CC0000","r":100,"cnrs":"1","fwtickm":1}}</script>
Please turn off add blocker to see the flag counter
<br>
<a href="https://info.flagcounter.com/cgNH"><img src="https://s11.flagcounter.com/count2/cgNH/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
