<!DOCTYPE html>
<html>
  <head>
    <title>Choose Your Own Adventure</title>
  </head>
  <body>
    <h1>Choose Your Own Adventure</h1>
    <p>You are lost in a forest and you have to find your way out. Do you want to go left or right?</p>
    <button onclick="goLeft()">Go Left</button>
    <button onclick="goRight()">Go Right</button>
    
    <script>
      function goLeft() {
        alert("You have stumbled upon a river. Do you want to try to cross it or follow it?");
      }
      
      function goRight() {
        alert("You have found a cave. Do you want to explore it or keep walking?");
      }
    </script>
  </body>
</html>
